
body {
  width: 900px;
  margin: auto;
  background: url(background.jpg);
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}

header {
  margin: 7px;
  border-bottom: 1px solid #000;
  font-size: 25px;
}

table {
  margin: 20px;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  border-collapse: collapse;
}

table caption {
  margin: 20px;
  text-align: left;
}

td, th{
  text-align: center ;
  padding: 10px;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}

td{

  background-color:#FFEFD5;
}

th{
   background-color: #CD853F;
}
