/* site footer */
footer {
  background-color: #cd9166;
  color: white;
  padding: 1px;
  font-size: 11px;
  letter-spacing: 1px;
}



.menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 200px;
}


/*Menu Header Styles*/
.menu-item h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  background: #cd9166;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;


}

.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color:  	#696969;
  display: block;
  width: 200px;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

header{
background-color: #66CDAA;
padding: 5px;
color: white;
text-align: center;
font-weight: bold;
font-size: 45px;
font-family: Georgia, "Times New Roman", Times, serif;
letter-spacing: 2px;
}


header h2{
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

header a{
  background-color: #66CDAA;
  padding: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  text-decoration: none;

}

header a h2{
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}

h3{

  color:#696969;
}
